* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

#btn1 {
    background-color: #909090;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    color: #fff;
}

#btn1:hover {
    cursor: pointer;
    background-color: #7f5e5e;
}
#btn2 {
    background-color: green;
    border: none;
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
    color: #fff;
}

#btn2:hover {
    cursor: pointer;
    background-color: green;
}

p{
    margin: 20px;
}